*{
  
  box-sizing: border-box;  
}

main{
  
  max-width: 1200px;
  margin: 0 auto;
}

.btn{
  cursor: pointer;
  border-radius: 100px;
}
.footer{
  background-color: rgb(210, 210, 210);
}
.sticky-nav {
  position: sticky;
  top: 0;
  z-index: 100;
}
